<h1>About Chicken Wings USA (CWUSA)</h1>
<p>CWUSA is the world’s catalog of chicken wing ideas. Find and save recipes, chicken wing reviews, and all chicken wing inspiration ideas.</p>
<p class="subhead">&copy; 2016 Chicken Wings USA. All rights reserved.</p>