<div class="jumbotron">
	<h1>Welcome to my Ruby app!</h1>
	<p>Click here to <%= link_to "Sign Up", "http://google.com", class: "btn btn-primary btn-md", target: "blank" %> for all the chicken wings you can dream of.</p>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>